@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

@import "~bootstrap";
@import "~@uppy/core/src/style";
@import "~@uppy/dashboard/src/style";

$primary-color: #2c7ce0;
$second-color: #fff;


html, body {
    background-color: $second-color;
    font-family: 'Nunito', sans-serif;

    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }
}

.rob-button {
    background-color: $primary-color;
    color: #fff !important;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 9px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: .9;
        color: #fff !important;
    }

    svg {
        width: 16px;
        height: 16px;
        margin-top: -3px;
        margin-right: 5px;
    }
}

.header {
    .navbar {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0 20px;
        border-bottom: 1px solid #e5e5e5;

        /* Define the shape and color of the hamburger lines */
        .navbar-toggler span {
            display: block;
            background-color: #212121;
            height: 2px;
            width: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
            position: relative;
            left: 0;
            opacity: 1;
            transition: all 0.35s ease-out;
            transform-origin: center left;
        }


        /* top line needs a little padding */
        .navbar-toggler span:nth-child(1) {
            margin-top: 0.3em;
        }

        /**
         * Animate collapse into X.
         */

        /* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
        .navbar-toggler:not(.collapsed) span:nth-child(1) {
            transform: translate(11%, -35%) rotate(45deg);
        }

        /* center line goes transparent */
        .navbar-toggler:not(.collapsed) span:nth-child(2) {
            opacity: 0;
        }

        /* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
        .navbar-toggler:not(.collapsed) span:nth-child(3) {
            transform: translate(11%, 160%) rotate(-45deg);
        }


        /**
         * Animate collapse open into hamburger menu
         */

        /* top line moves back to initial position and rotates back to 0 degrees */
        .navbar-toggler span:nth-child(1) {
            transform: translate(0%, 0%) rotate(0deg);
        }

        /* middle line goes back to regular color and opacity */
        .navbar-toggler span:nth-child(2) {
            opacity: 1;
        }

        /* bottom line goes back to initial position and rotates back to 0 degrees */
        .navbar-toggler span:nth-child(3) {
            transform: translate(0%, 0%) rotate(0deg);
        }

        .logo {
            height: 28px;
        }

        .page-items {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;

            .nav-link {
                color: #131313;
            }
        }

        .navbar-nav {
            .nav-item {
                margin-left: 10px;

                .nav-link {
                    color: #131313;

                    &:hover {
                        color: #000;
                    }

                    &.rob-sign-up {
                        padding: 6px 12px;
                    }
                }
            }

            .dropdown-toggle {
                color: #131313;

                &::after {

                }
            }
        }

        .rob-move-btn {
            .dropdown-menu {
                top: 56px;
                border-color: #e5e5e5 !important;
            }

            .dropdown-toggle::after {
                display: none !important;
            }
        }

        .nav-user-avatar {
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
    }
}

.page-wrapper {
    .irob-dropzone {
        margin-top: 100px;

        .uppy-Dashboard-inner {
            margin: 0 auto;

            .uppy-Dashboard-AddFiles {
                border-color: $primary-color;
                border-width: 1.5px;
            }

            .uppy-Dashboard-AddFiles-info a {
                display: none !important;
            }

            .uppy-Dashboard-Item, .uppyDashboard-Item.is-complete {
                display: inline-block;
            }
        }
    }

    .irob-dropzone-terms {
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: #212121;

        .selected-page-item {
            color: $primary-color;
            text-decoration-color: $primary-color;
            font-weight: bold;
        }
    }

    .page-container {
        box-shadow: rgb(35 46 60 / 4%) 0 2px 4px 0;
        border: 1px solid rgba(101, 109, 119, 0.16);
        padding: 20px;
        margin-top: 50px;

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
        }

        p {
            font-size: 14px;
        }

        ul {
            list-style-type: initial;
        }

    }
}

.return-to-homepage {
    margin-top: 16px;

    a {
        color: $primary-color;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: #000;

            svg {
                color: #000;
            }
        }

        svg {
            margin-top: -3px;
            width: 20px;
            height: 20px;
            color: $primary-color;
        }
    }
}

.irob-login-wrapper {

    .irob-login-logo {
        margin-top: 100px;
        text-align: center;

        img {
            height: 46px;
        }
    }

    .irob-login {
        padding: 20px 30px;
        border: 1px solid #e5e5e5;
        margin-top: 80px;
        text-align: center;

        .login-types-title {
            margin: 14px 0;
            font-size: 14px;
            font-weight: 600;
            display: flex;
            align-items: center;
            height: 1px;

            &::before {
                content: "";
                margin-right: .5rem;
            }

            &::after {
                content: "";
                margin-left: .5rem;
            }

            &::after, &::before {
                flex: 1 1 auto;
                height: 1px;
                background-color: $primary-color;
                opacity: .16;
            }
        }

        .login-types {
            display: flex;
            align-items: center;
            flex-direction: column;

            .login-type {
                margin-top: 10px;
                max-width: 100%;
                width: 100%;
                height: 40px;
                border: 1px solid $primary-color;
                border-radius: 3px;
                display: flex;
                align-items: center;
                color: #000 !important;
                text-decoration: none;

                .login-type-title {
                    text-align: center;
                    font-weight: bold;
                    width: 100%;
                }

                .login-type-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 40px;
                    background-color: $primary-color;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;

                    svg {
                        width: 20px;
                        height: 20px;
                        color: #fff;
                    }
                }
            }
        }

        .form-group {
            text-align: left;

            label {
                font-weight: 600;
                font-size: 15px;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .navbar {
        .page-items {
            &.login-items {
                display: none !important;
            }

            .rob-button {
                display: none !important;
            }
        }
    }
    .navbar-collapse {
        position: absolute;
        left: 0;
        top: 60px;
        z-index: 101 !important;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;

        .nav-item {
            .nav-link {
                padding: .5rem 1.5rem;
                justify-content: flex-start;

                &.dropdown-toggle {
                    &::after {
                        margin-top: 9px !important;
                        margin-right: 20px !important;
                        float: right;
                    }
                }
            }
        }
    }
    .irob-profile-wrapper {
        .irob-sidebar {
            max-width: 100% !important;
        }

        .irob-profile-container {
            padding-left: 0 !important;
            padding-top: 20px;
        }
    }
}

.irob-profile-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px auto 0 auto;

    .irob-sidebar {
        border: 1px solid #e5e5e5;
        border-radius: 6px;
        padding: 0 !important;
        max-width: 220px;
        margin-bottom: 30px;

        ul {
            padding: 0 !important;
            margin: 0 !important;

            li {
                width: 100%;
                height: 38px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: relative;

                &.active {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 2px;
                        background-color: $primary-color;
                    }

                    a {
                        color: $primary-color;
                    }
                }

                a {
                    color: #333;
                    font-size: 14px;
                    font-weight: bold;
                    text-decoration: none;
                    padding-left: 16px;
                }

                &:hover {
                    background-color: $primary-color;

                    a {
                        color: #fff;
                    }
                }

                &:not(last-child) {
                    border-bottom: 1px solid #e5e5e5;
                }
            }
        }
    }

    .irob-profile-container {
        padding-left: 20px;

        .irob-profile {
            padding: 16px;
            border: 1px solid #e5e5e5;
            border-radius: 6px;

            .user-profile-title {
                font-weight: 600;
                font-size: 26px;
                color: #333;
            }

            .irob-profile-content {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;

            }
        }
    }

}

