@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

@import "~bootstrap";
@import "~@uppy/core/src/style";
@import "~@uppy/dashboard/src/style";

$primary-color: #2c7ce0;
$second-color: #fff;


html, body {
    background-color: $second-color;
    font-family: 'Nunito', sans-serif;

    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }
}

.rob-button {
    background-color: $primary-color;
    color: #fff !important;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 9px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: .9;
        color: #fff !important;
    }

    svg {
        width: 16px;
        height: 16px;
        margin-top: -3px;
        margin-right: 5px;
    }
}

.header {
    .navbar {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0 20px;
        border-bottom: 1px solid #e5e5e5;

        /* Define the shape and color of the hamburger lines */
        .navbar-toggler span {
            display: block;
            background-color: #212121;
            height: 2px;
            width: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
            position: relative;
            left: 0;
            opacity: 1;
            transition: all 0.35s ease-out;
            transform-origin: center left;
        }


        /* top line needs a little padding */
        .navbar-toggler span:nth-child(1) {
            margin-top: 0.3em;
        }

        /**
         * Animate collapse into X.
         */

        /* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
        .navbar-toggler:not(.collapsed) span:nth-child(1) {
            transform: translate(11%, -35%) rotate(45deg);
        }

        /* center line goes transparent */
        .navbar-toggler:not(.collapsed) span:nth-child(2) {
            opacity: 0;
        }

        /* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
        .navbar-toggler:not(.collapsed) span:nth-child(3) {
            transform: translate(11%, 160%) rotate(-45deg);
        }


        /**
         * Animate collapse open into hamburger menu
         */

        /* top line moves back to initial position and rotates back to 0 degrees */
        .navbar-toggler span:nth-child(1) {
            transform: translate(0%, 0%) rotate(0deg);
        }

        /* middle line goes back to regular color and opacity */
        .navbar-toggler span:nth-child(2) {
            opacity: 1;
        }

        /* bottom line goes back to initial position and rotates back to 0 degrees */
        .navbar-toggler span:nth-child(3) {
            transform: translate(0%, 0%) rotate(0deg);
        }

        .logo {
            height: 28px;
        }

        .page-items {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;

            .nav-link {
                color: #131313;
            }
        }

        .navbar-nav {
            .nav-item {
                margin-left: 10px;

                .nav-link {
                    color: #131313;

                    &:hover {
                        color: #000;
                    }

                    &.rob-sign-up {
                        padding: 6px 12px;
                    }
                }
            }

            .dropdown-toggle {
                color: #131313;

                &::after {

                }
            }
        }
    }
}

.page-wrapper {
    .irob-dropzone {
        margin-top: 100px;

        .uppy-Dashboard-inner {
            margin: 0 auto;

            .uppy-Dashboard-AddFiles {
                border-color: $primary-color;
                border-width: 1.5px;
            }

            .uppy-Dashboard-AddFiles-info a {
                display: none !important;
            }

            .uppy-Dashboard-Item, .uppyDashboard-Item.is-complete {
                display: inline-block;
            }
        }
    }

    .irob-dropzone-terms {
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: #212121;

        .selected-page-item {
            color: $primary-color;
            text-decoration-color: $primary-color;
            font-weight: bold;
        }
    }

    .page-container {
        box-shadow: rgb(35 46 60 / 4%) 0 2px 4px 0;
        border: 1px solid rgba(101, 109, 119, 0.16);
        padding: 20px;
        margin-top: 50px;

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
        }

        p {
            font-size: 14px;
        }

        ul {
            list-style-type: initial;
        }

    }
}

@media only screen and (max-width: 992px) {
    .navbar {
        .page-items {
            &.login-items {
                display: none !important;
            }

            .rob-button {
                display: none !important;
            }
        }
    }
    .navbar-collapse {
        position: absolute;
        left: 0;
        top: 60px;
        z-index: 101 !important;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;

        .nav-item {
            .nav-link {
                padding: .5rem 1.5rem;
                justify-content: flex-start;

                &.dropdown-toggle {
                    &::after {
                        margin-top: 9px !important;
                        margin-right: 20px !important;
                        float: right;
                    }
                }
            }
        }
    }
}
