@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

@import "~bootstrap";

$primary-color: #fff;
$second-color: #2c7ce0;


html, body {
    background-color: $primary-color;
    font-family: 'Nunito', sans-serif;

    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }
}

.rob-button {
    background-color: $second-color;
    color: #fff !important;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 9px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: .9;
        color: #fff !important;
    }

    svg {
        width: 16px;
        height: 16px;
        margin-top: -3px;
        margin-right: 5px;
    }
}

.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #e5e5e5;

    .logo {
        height: 28px;
    }

    .navbar-nav {
        .nav-item {
            margin-left: 10px;

            .nav-link {
                color: #131313;

                &:hover {
                    color: #000;
                }

                &.rob-sign-up {
                    padding: 6px 12px;
                }
            }
        }
    }
}
